

body {
    background-color: white;
    margin: 0;
    padding: 0;
}
nav ul {
    background-color: rgb(226, 97, 97);
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 40px;
}
nav ul li {
    display: inline-block;
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    padding: 40px;
}
nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
}
nav a:hover {
    color: rgb(240, 136, 136);
}
header h1 {
    text-align: center;
    font-size: 30px;
}
article header p {
    font-style: italic;
}
main {
    padding-left: 20px;
    font-size: 20px;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}
footer {
    text-align: center;
    background-color: rgb(255, 234, 245);
    padding: 5px;
    margin-top: 5px;
}
my-list {
    margin: 0 auto;
    padding: 8px 24px; 
   
    font-size: 20px;
   
    background: #fffdfe;
    box-shadow: 0 0 10px 2px white;}
.my-list ol {margin: 20px;}
.my-list p {text-align: center;}
.my-list img {
    width: 300px;
    height: 300px;
    border-radius:50%;
    shape-image-threshold: calc();
    display:block;
    margin:0 auto 20px; }